html {

}

body {
   display: flex;
   flex-flow: column wrap;
   height: 100vh;
}

img {
   width: 100px;
   height: 100px;
 }

ul {
   list-style: none;
}

.header {
   background-color: #1f2937;
}

.awesome-image {

}

.right-links {
   color: #e5e7eb;
}

.container {
   display: flex;
   justify-content: center;
   gap: 52px;
 }

 .img-small {
   max-width: 200px;
 }

 .container-two > h2 {
   text-align: center;
 }

.footer {
   margin-top: auto;
   background-color: #1f2937;
}