@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

html, 
body {
    height: 100%;
    width: 100%;
}

html {
   display: flex;
   flex-flow: column wrap;
}

body {
   margin: 0;
   font-family: 'Poppins', 'Montserrat', sans-serif;
}

img {
   height: 100px;
 }

 ul {
   list-style: none;
   margin: 0;
   padding: 0;
 }

 li {
   margin-bottom: 15px;
   margin-right:10px;
 }

.header {
   background: #21d8ff;
   display: flex;
   justify-content: space-between;
   padding-top: 10px;
}

.left-link, .right-links {
   color: #000;
}

.left-link {
  padding-left: 100px;
}

.right-links {
   display: flex;
   align-items: center;
   gap: 10px;
   padding-right: 100px;
}

.button1, .button2 {
   background-color: #CB0C59;
   color: #fff;
   border-radius: 5px;
   border: none;
   width: 75px;
   height: 25px;
}

.button2 {
   border-color: white;
   color: #fff;
}
.flex-container {
   display: flex;
   justify-content: center;
   gap: 30px;
 }

 .awesome {
   display: flex;
   font-size: 48px;
   font-weight: 900;
   color: #000;
   background-color: #21d8ff;
   padding-bottom: 50px;
   padding-top: 50px;
}

.awesome-text {
   max-width: 800px;
   padding-left: 100px;
   padding-right: 150px;
}

div.awesome-text p {
  font-size: 34px;
  margin-bottom: 0px;
  font-weight: 900;
}

div.awesome-text p+p {
  font-size: 15px;
  margin-top: 0px;
  font-weight: 300;
}

 .top-button {
   width: 100px;
   display: flex;
   padding-top: 10px;
}

.awesome-img {
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CB0C59;
  color: #f9faf8;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  margin-top: 40px;
  margin-right: 3px;
}

.img-small > img {
  max-width: 200px;
}

.text {
  font-size: 15px;
  max-width: 200px;
}
 /* width content to be edited */

 .container-two {
 }

 .container-two > p {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
}

 .img-container > p {
  text-align: center;
 }

 .container-three {
   font-size: 36px;
   font-style: italic;
   color: #1f2937;
   font-weight: 100;
   margin-top: 30px;
   padding-top: 10px;
   padding-left: 50px;
 }

 .quote-container {
   display: flex;
   justify-content: center;
 }

 blockquote {
  margin: 0;
  font-size: 30px;
  width: 500px;
 }

 blockquote p {
  padding: 15px;
  background: #21d8ff;
  color: #000;
  border-radius: 5px;
 }

 blockquote p:before {
  content: '\201C';
 }

 blockquote p:after {
  content: '\201D';
 }

 figcaption {
  font-size: 20px;
  margin: 0;
 }

 .container-four {
   background: white;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 100px;
   margin-bottom: 100px;
 }

 .bottom-text {
   display: flex;
   background: #21d8ff;
   color: #000;
   border-radius: 5px;
   padding-right: 10px;
   padding-left: 30px;
 }

 .bottom-button {
   justify-self: flex-end;
   align-items: center;
   padding-top: 40px;
   padding-left: 50px;
   padding-right: 10px;
 }

.footer {
   display: flex;
   height: 50px;
   background: #CB0C59;
   color: #eee;
   margin-top: auto;
   text-align: center;
   justify-content: center;
   align-items: center;
   padding-top: 10px;
}