html {
   margin: 0;
   padding: 0;
}

body {
   display: flex;
   flex-flow: column wrap;
   height: 100vh;
}

img {
   max-width: 100px;
   height: 100px;
 }

.header {
   background: #1f2937;
}

.header > {
   list-style-type: none;
}

.awesome-image {

}

.right-links {
   color: #e5e7eb;
}

.container {
   display: flex;
   justify-content: center;
   gap: 30px;
 }

 .img-small {
   max-width: 200px;
 }

 .container-two > h2 {
   text-align: center;
 }

.footer {
   display: flex;
   height: 72px;
   background: #1f2937;
   color: #eee;
   margin-top: auto;
   text-align: center;
   justify-content: center;
   align-items: center;
 }